imageio==2.6.1
pygame==1.9.6
pandas==0.25.3
numpy==1.17.4
scikit-image==0.16.2
pytest==5.2.4
toml==0.10.0
setuptools==41.6.0
wheel==0.33.6
twine==2.0.0
pre-commit==1.20.0
flake8==3.7.9
bump2version==0.5.11
pipe2codeblock
black
