imageio==2.8.0
pygame==1.9.6
pandas==0.25.3
numpy==1.18.3
scikit-image==0.16.2
pytest==5.4.1
toml==0.10.0
setuptools==46.1.3
wheel==0.34.2
twine==3.1.1
pre-commit==2.8.2
flake8==3.7.9
bump2version==1.0.0
pipe2codeblock
black
